C:\Users\sacke\ResearchSoftwareEngineering\20122000\railway\analysing_fare_prices.ipynb
C:\Users\sacke\ResearchSoftwareEngineering\20122000\railway\__pycache__\
C:\Users\sacke\ResearchSoftwareEngineering\20122000\railway\.pytest_cache\
C:\Users\sacke\ResearchSoftwareEngineering\20122000\railway\exit
